<h1>
    Lists
    <div class="pull-right">
        <%= link_to [:new, :list], class: "btn btn-primary", title: 'Add a List', data: { toggle: 'tooltip', placement: 'bottom' } do %>
            <i class="icon-plus icon-white"></i>
        <% end %>
    </div>
</h1>

<table class="table table-striped">
    <tr>
        <th class="span9">Name</th>
        <th class="span1">Pending</th>
        <th class="span1">Complete</th>
        <th class="span1"></th>
    </tr>
    <% lists.each do |list| %>
        <tr>
            <td><%= link_to list.name, list %></td>
            <td><%= list.pending_task_count %></td>
            <td><%= list.complete_task_count %></td>
            <td>
                <%= link_to [list], id: "delete_list_#{list.id}", title: 'Delete', data: { toggle: 'tooltip', confirm: "Are you sure you want to delete this list?" }, class:'btn btn-mini btn-danger', method: :delete do %>
                    <i class="icon-remove icon-white"></i>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>