<div class="banner">
    <h1><%= @list.name %></h1>
</div>
<% if @list.tasks.empty?  %>
    <%= @list.name %> does not have any tasks
<% else %>
    <ul>
        <% @list.tasks.each do |task| %>
            <li><%= task.description %> : <%= task.status %> | <%= link_to "Delete",[@list, task], :method => :delete %> | <%= link_to "Edit",[:edit, @list, task] %> </li>
        <% end %>
    </ul>
<% end %>
<%= link_to "Add a task", [:new, @list, :task] %>
