<h1>
    <%= list.name %>
    <div class="pull-right">
        <%= link_to [:new, list, :task], class: "btn btn-primary", title: 'Add a Task', data: { toggle: 'tooltip', placement: 'bottom' } do %>
            <i class="icon-plus icon-white"></i>
        <% end %>
    </div>
</h1>

<table class="table">
    <tr>
        <th class="span9">Description</th>
        <th class="span2">Status</th>
        <th class="span1"></th>
    </tr>
    <% if list.tasks.each do |task| %>
        <tr id="task_<%= task.id %>" class="<%= task.status_class %>">
            <td><%= task.description %></td>
            <td><%= task.render_status %></td>
            <td>
                <div class="btn-group">
                    <%= link_to [list, task], id: "delete_task_#{task.id}", class: 'btn btn-mini btn-danger', method: :delete, title: 'Delete', data: { toggle: 'tooltip', confirm: "Are you sure you want to delete this task?" } do %>
                        <i class="icon-remove icon-white"></i>
                    <% end %>
                    <%= link_to [:edit, list, task], id: "edit_task_#{task.id}", class: 'btn btn-mini btn-primary', title: 'Edit', data: { toggle: 'tooltip' } do %>
                        <i class="icon-pencil icon-white"></i>
                    <% end %>
                </div>
            </td>
        </tr>
    <% end.empty? %>
        <tr>
            <th><%= list.name %> does not have any tasks </th>
        </tr>
    <% end %>
</table>
