<!DOCTYPE html>
<html>
<head>
    <title>Todo App</title>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
    <% if flash[:notice] %>
        <div class="banner alert-info">
            <h2><strong><%= flash[:notice] %></strong></h2>
        </div>
    <% end %>
    <%= yield %>
</div>
</body>
</html>
